# Ignore dataset images
data/*
!data/train/.gitkeep
!data/test/.gitkeep

# Keep models folder and model files tracked
!models/*.keras
!models/*.h5

# Ignore virtualenv & secrets
.venv/
venv/
__pycache__/
*.pyc
.env